./README.md
isodesign/__pycache__/__init__.cpython-310.pyc
isodesign/__pycache__/__init__.cpython-311.pyc
isodesign/process/__pycache__/__init__.cpython-310.pyc
isodesign/process/__pycache__/__init__.cpython-311.pyc
isodesign/process/__pycache__/calculation.cpython-310.pyc
isodesign/process/__pycache__/calculation.cpython-311.pyc
isodesign/tests/__pycache__/__init__.cpython-310.pyc
isodesign/tests/__pycache__/__init__.cpython-311.pyc
isodesign/test_data/acetate_LLE/tmp